# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.pid.lock

# Dependency directories
node_modules/

# Environment variables
.env

# OS and Editor files
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/
*.bak
*.tmp

# Build output
/dist/
build/
